.NavBar{
    text-align: center;
    gap: 10px;
    background-color: yellow;
   
}
    .title{
        font-family: 'Franklin Gothic Medium';
        font-weight: bold;
        
    }
    .Option{
        background-color: rgba(255, 255, 255, 0.497);
        margin: 10px;

    }
    .ActiveOption{
        margin: 10px;
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.668);
        transition: 1s;
    }
